/* =========================
   GOOGLE FONT
========================= */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* =========================
   ROOT VARIABLES
========================= */
:root {
  /* Colors */
  --slate-900: #1F314F;
  --slate-500: #68778D;
  --slate-300: #D5E1EF;
  --white: #FFFFFF;

  /* Typography */
  --font-primary: 'Outfit', sans-serif;

  --text-preset-1-size: 22px;
  --text-preset-1-line-height: 120%;
  --text-preset-1-spacing: 0px;
  --text-preset-1-weight: 700;

  --text-preset-2-size: 15px;
  --text-preset-2-line-height: 140%;
  --text-preset-2-spacing: 0.2px;
  --text-preset-2-weight: 400;

  /* Spacing */
  --space-500: 40px;
  --space-300: 24px;
  --space-200: 16px;

  /* Container */
  --container-width: 1100px;
}

/* =========================
   RESET
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BODY
========================= */
body {
  font-family: var(--font-primary);
  background: var(--slate-300);
  color: var(--slate-900);
  padding: 80px 24px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    background: var(--white);
    padding: var(--space-200) var(--space-200)  var(--space-500) var(--space-200);
    border-radius:var(--space-200);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;

    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
}

img {
    width: 100%;
    display: block;
    border-radius: var(--space-200);
}

h1 {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 700;
    padding: var(--space-200) 0;
    text-align: center;
}

p {
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2;
    font-weight: 400;
    padding: var(--space-200) 0;
    text-align: center;
}
